:root {
    --parallax_mountainbg-x: 0;
    --parallax_mountainbg-y: 0;
    --parallax_mountainfg-x: 0;
    --parallax_mountainfg-y: 0;
    --parallax_clouds-x: 0;
    --parallax_clouds-y: 0;
    --parallax_sun-x: 0;
    --parallax_sun-y: 0;
    --parallax_button-x: 0;
    --parallax_button-y: 0;
}

.parallax__mountainbg,
.parallax__mountainfg,
.parallax__clouds,
.parallax__sun,
.parallax__button {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    will-change: transform;
}

.parallax__mountainbg {
    background-image: url("/404_1.webp");
    transform: translate(
        calc(-50% + var(--parallax_mountainbg-x) * 25px),
        calc(-50% + var(--parallax_mountainbg-y) * 25px)
    );
}

.parallax__mountainfg {
    background-image: url("/404_4.webp");
    transform: translate(
        calc(-50% + var(--parallax_mountainfg-x) * 50px),
        calc(-50% + var(--parallax_mountainfg-y) * 50px)
    );
}

.parallax__clouds {
    background-image: url("/404_2.webp");
    transform: translate(
        calc(-50% + var(--parallax_clouds-x) * 150px),
        calc(-50% + var(--parallax_clouds-y) * 150px)
    );
}

.parallax__sun {
    background-image: url("/404_3.webp");
    transform: translate(
        calc(-50% + var(--parallax_sun-x) * 1px),
        calc(-50% + var(--parallax_sun-y) * 100px)
    );
}

.parallax__button {
    transform: translate(
        calc(-50% + var(--parallax_button-x) * 1px),
        calc(-50% + var(--parallax_button-y) * 100px)
    );
}
