@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
    font-family: 'Apercu';
    src: url('/fonts/ApercuPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse';
    src: url('/fonts/Suisse Int\'l Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.radialbg{
    background-image: radial-gradient(#80808080 1.5px, transparent 0);
    background-size: 24px 24px;
}

.radialbg2{
    background-image: radial-gradient(#119fe683 1.5px, transparent 0);
    background-size: 4px 4px;
}

.diagonalbg{
    background-color: transparent;
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 5px, transparent 5px, transparent 10px );
}
.diagonalbg-i{
    background-color: transparent;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #444cf7, #444cf7 5px, transparent 5px, transparent 10px );
}

    /* ::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #000000;
    } */

a {
    text-decoration: none;
    line-height: 0;
}

/* flex */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}

.highlight {
    font-family: monospace !important;
    background-color: #f0f0f0 !important;
    color: #555;
}

.col {
    position: relative;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
}

.col-auto {
    position: relative;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-half {
    flex: 0 0 48%;
    max-width: 50%;
}

.col-full {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-half,
.col-full {
    position: relative;
    width: 100%;
}

@media (max-width: 1024px) {
    .col {
        flex: 0 0 100%;
        min-width: 0;
        max-width: 100%;

        position: relative;
        width: 100%;
        padding: 0 1%;

        padding-left: -0.5vw;
        padding-right: -0.5vw;
    }
}

@media (max-width: 600px) {
    .radialbg{
        background-image: radial-gradient(#80808080 1.5px, transparent 0);
        background-size: 18px 18px;
    }
    .radialbg2{
        background-image: radial-gradient(#119fe683 1.5px, transparent 0);
        background-size: 4px 4px;
    }
}
